*{
    margin: 0;
    padding: 0;
}

.light {
    background-color: #e3e3e3;
    color: #111111;
  }

  .dark {
    background-color: #111111;
    color: #e3e3e3;
  }
  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
    background-color: aquamarine;
    color: #111111;

  }
  .flexbox{
    display: flex; /*only to set the contents on one line*/
    /* justify-content:center;align contents horizontally */
    /* align-items:center;align contents vertically */
    /* align-content:end; determines the space between 2 rows */
    /* outline:1px solid blue; */
    /* flex-wrap:wrap; */
    /* background-color: crimson; */
    align-items: center;
    color: #ffffff;
    /* min-height: 300px; */
  }
  

  .item{
    /* outline:1px solid rgb(26, 17, 17); */
    /* min-width:20px; */
    /* padding: 20px; */
    /* padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 2px; */
    padding: 20px 5px 20px 5px;

    /* min-height: 50px; */
    background-color:#0000ff;
    justify-items: center;
    /* flex-wrap: wrap; */
  }

  .head{
    /* align-self: safe; */
    /* order: 2; */
    /* align-items:str; */
    flex-grow: 1;
    /* min-width: 600px; */
   }
  .second{
    /* align-self: flex-start; */
    /* flex-grow: 0.3; */
    /* flex-shrink: 0; */
    /* order: 1; */
  }
 
 .third{
  /* align-self: flex-end; */
  /* order: 4; */
  /* flex-grow: 1; */
 }
 .fourth{
  /* align-self: flex-start; */
  /* order: 3; */
  /* flex-grow: 2; */
 }
 .fifth{
  /* align-self: flex-end; */
  /* order: 5; */
 }

/* span - inline contents
div - block contents
display - inline (same line)
        - block (down by down)
        - inline-block */
img{
  width: 300px;
}
 .box{
  border:1px solid blue;
  height: 50px;
  width: 50px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
 }
 .apple{
  color: red;
 }
.list-container{
  padding-left: 50px;
}
.list{
  /* display: flex; */
  list-style: square;
  list-style-position: inside;
  background-color:aqua;
}
.list>li{
  /* margin: 0px 20px 0px; */
}
