*{
    margin: 0;
    padding: 0;
}

.light {
    background-color: #e3e3e3;
    color: #111111;
  }

  .dark {
    background-color: #111111;
    color: #e3e3e3;
  }
  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
    background-color: aquamarine;
    color: #111111;

  }
  .flexbox{
    display: flex; /*only to set the contents on one line*/
    justify-content:left;/*align contents horizontally*/
    align-items:center;/*align contents vertically*/
    outline:1px solid blue;
    flex-wrap:wrap;
    max-width: 600px;
  }
  
  .item{
    outline:1px solid red;
    min-width:300px;
    background-color: red;
    flex-wrap:wrap;
  }
 