*{
    margin: 0;
    padding: 0;
}

.light {
    background-color: #e3e3e3;
    color: #111111;
  }

  .dark {
    background-color: #111111;
    color: #e3e3e3;
  }
  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
    background-color: aquamarine;
    color: #111111;

  }
  .flexbox{
    display: flex; /*only to set the contents on one line*/
    /* justify-content:center;align contents horizontally */
    /* align-items:center;align contents vertically */
    /* align-content:end; determines the space between 2 rows */
    outline:1px solid blue;
    /* flex-wrap:wrap; */
    
    min-height: 300px;
  }
  
  .item{
    outline:1px solid rgb(26, 17, 17);
    width:200px;
    min-height: 100px;
    background-color: red;
  }
  .second{
    /* align-self: flex-start; */
    /* flex-grow: 0.7; */
    flex-shrink: 0;
    /* order: 1; */
  }
 .first{
  /* align-self: flex-end; */
  /* order: 2; */
  flex-grow: 0.3;
 }
 .third{
  /* align-self: flex-end; */
  /* order: 4; */
  flex-grow: 1;
 }
 .fourth{
  /* align-self: flex-start; */
  /* order: 3; */
  flex-grow: 2;
 }
 .fifth{
  /* align-self: flex-end; */
  /* order: 5; */
 }